[versions]
androidGradlePlugin = "8.4.1"
androidxAnnotation = "1.8.0"
hiddenApiRefine = "4.4.0"
kotlin = "2.0.0"
kotlinxCoroutines = "1.8.1"
libsu = "5.2.2"
shizuku = "13.1.5"

[libraries]
androidx-annotation = { group = "androidx.annotation", name = "annotation", version.ref = "androidxAnnotation" }
kotlinx-coroutines-android = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-android", version.ref = "kotlinxCoroutines" }
libsu-core = { group = "com.github.topjohnwu.libsu", name = "core", version.ref = "libsu" }
libsu-service = { group = "com.github.topjohnwu.libsu", name = "service", version.ref = "libsu" }
rikka-refine-annotation = { group = "dev.rikka.tools.refine", name = "annotation", version.ref = "hiddenApiRefine" }
rikka-refine-compiler = { group = "dev.rikka.tools.refine", name = "annotation-processor", version.ref = "hiddenApiRefine" }
rikka-refine-runtime = { group = "dev.rikka.tools.refine", name = "runtime", version.ref = "hiddenApiRefine" }
rikka-shizuku-api = { group = "dev.rikka.shizuku", name = "api", version.ref = "shizuku" }
rikka-shizuku-provider = { group = "dev.rikka.shizuku", name = "provider", version.ref = "shizuku" }
hiddenApiBypass = "org.lsposed.hiddenapibypass:hiddenapibypass:4.3"
timber = "com.jakewharton.timber:timber:5.0.1"

# Dependencies of the included build-logic
android-gradle = { group = "com.android.tools.build", name = "gradle", version.ref = "androidGradlePlugin" }
kotlin-gradle = { group = "org.jetbrains.kotlin", name = "kotlin-gradle-plugin", version.ref = "kotlin" }

[plugins]
android-library = { id = "com.android.library", version.ref = "androidGradlePlugin" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
kotlin-parcelize = { id = "org.jetbrains.kotlin.plugin.parcelize", version.ref = "kotlin" }
rikka-refine = { id = "dev.rikka.tools.refine", version.ref = "hiddenApiRefine" }

# Plugins defined by this project
self-library = { id = "self.library", version = "unspecified" }
